/* select all components on the browser */
* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    font-family: Arial;
    padding: 20px;
    background-color: #ffffff;
    background-image: linear-gradient(
        135deg,
        #ffffff 0%,
        #6284ff 34%,
        #ff0000 100%
    );
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-color: white;

    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.image {
    background-color: rgb(226, 226, 226);
    width: 100%;
    padding: 20px;
}

/* mostly used for blur image.  */
.blur-img {
    filter: blur(1px);
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.container-img {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 8px;
    left: 16px;
}

.white-text {
    color: white;
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout
when the screen is less than 800px wide,
make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
